<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Привет {{main.me.name}}</h1>

      <form class="form" name="form" ng-submit="main.submit(form)" novalidate>
      
        <div class="form-group">
          <label>Email</label>
          <input type="email" 
              name="email" 
              class="form-control" 
              ng-model="main.me.email" 
              placeholder="Email"
              required />
        </div>

        <div class="form-group">
          <label>Пароль</label>
          <input type="password" 
              name="password" 
              class="form-control" 
              ng-model="main.me.password" 
              placeholder="Пароль" />
        </div>

        <div class="form-group">
          <label>Автомобиль</label>

          <div class="row">
            <div class="col-sm-3">
              <input type="text" 
                name="carMark" 
                class="form-control" 
                ng-model="main.me.car.mark" 
                placeholder="Марка"
                required />
            </div>
            <div class="col-sm-3">
              <input type="text" 
                name="carModel" 
                class="form-control" 
                ng-model="main.me.car.model" 
                placeholder="Модель"
                required />
            </div>
            <div class="col-sm-3">
              <input type="text" 
                name="carColor" 
                class="form-control" 
                ng-model="main.me.car.color" 
                placeholder="Цвет"
                required />
            </div>
            <div class="col-sm-3">
              <input type="text" 
                name="carNumber" 
                class="form-control" 
                ng-model="main.me.car.number" 
                placeholder="Номер"
                required />
            </div>
          </div>

          <div class="form-group">
            <label>Контакты</label>

            <div class="row">
              <div class="col-sm-4">
                <input type="text" 
                  name="phone" 
                  class="form-control" 
                  ng-model="main.me.contacts.phone" 
                  placeholder="Телефон" />
              </div>
              <div class="col-sm-4">
                <input type="text" 
                  name="skype" 
                  class="form-control" 
                  ng-model="main.me.contacts.skype" 
                  placeholder="Skype" />
              </div>
              <div class="col-sm-4">
                <input type="text" 
                  name="icq" 
                  class="form-control" 
                  ng-model="main.me.contacts.icq" 
                  placeholder="ICQ" />
              </div>
              
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-default" type="submit" ng-disabled="form.$invalid">Сохранить</button>
          </div>

      </form>
    </div>
  </div>

  <div class="row">
  	<div class="col-sm-12">
  		<h3>Неподтвержденные выстрелы/мины</h3>
      <ul class="list-group">
      	<li ng-show="main.items.length === 0" class="list-group-item text-center">Нет</li>
      	<li ng-repeat="item in main.items" class="list-group-item">
      		<div>
            <profile user-id="item.shooter.id" class="shooter"></profile>
          </div>
          <small>{{item.shooter.comment}}</small>

          <div class="text-right">
          	<hr/>
          	<button title="Отменить выстрел" cancel-item item="item" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
            <button title="Подтвердить выстрел" confirm-item item="item" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></button>
          </div>
      	</li>
      </ul>
  	</div>
  	
  </div>
</div>
